<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "/css/styles.css" %>
    <%= javascript_script_tag "/js/external.js" %>
  <title><%= @app_name %></title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
